body {
  background-color: #ede0fe;
}

h1 {
  color:rgb(122, 74, 144);
}

#name {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  color: rgb(51, 2, 51);
  text-align: center;
}

h3:hover {
  color: rgb(160, 195, 241)
}

hr {
  border-style: none;
  border-top: 3px dotted gray;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

img {
  border-radius: 50%;
  height: 150px;
}

.aligned {
  align-items: center;
  display: flex;
}

.current {
  line-height: 25px;
  margin-left: 15px;
}

.background {
  display: flex;
  justify-content: center;
  line-height: 30px;
}
.background div:first-child {
  margin-right: 100px;
}

ul.education li {
  padding: 2px;
}

table.activities {
  border-collapse: collapse;
}

table.activities tr td {
  border: none;
  padding: 2px;
}

table.activities tr td:last-child {
  border-left: 1px solid rgb(0, 0, 0);
  padding-left: 15px;
}

ul.hobbies {  
  display: block;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul.hobbies li{
  display: inline-block;
  min-width: 5rem;
  padding: 0 0.5rem;
  text-align: center;
}

ul.hobbies li:not(:last-child) {
  border-right: 1px solid gray;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

#skills {
  text-align: center;
  width: 40px;
}



